html{
    font-size: 16px;
}
body{
    margin: 0;
    background-color:white;
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 5rem;
    margin-bottom: 5px;
}
header{
    background-color: #800000;
    display:inline-block;
    width: 100%;
    text-align: center;
}

header ul{
    display: flex;
    justify-content: space-around;
    margin-top: 0;
}

header li{
    list-style: none;
}

.main{
    margin: 0 auto;
}
.status{
    text-align: center;
}

.status h3, .status h2{
    margin: 75px 0;
}

.image-container{
    display: flex;
    justify-content: center;
}
.image-container a{
    color: #121212;
    transition: all 0.5s;
}

.image-container a:hover{
    scale: 1.5;
}
.image-container i{
    font-size: 2rem;
    margin: 0 50px;
}