@font-face {
  font-family: "IceCreamParty";
  src:url("fonts/IceCreamPartySolid.ttf");
}

@font-face {
  font-family: "SuperCottage";
  src: url("fonts/SuperCottage.ttf");
}

.App {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:"header header"
  "main sidebar"
  "footer footer";
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.header {
  position: sticky;
  background-color: lightgray;
  grid-area: header;
  padding: 0.375em;
}

aside{
  height: 100%;
  position: sticky;
  align-self: start;
  background-color:lightgray;
  grid-area: sidebar;
  width: 300px;
  right: 0;
  display: none;
  border: black 1px inset;
}

main{
  background-color:lightgray;
  grid-area: main;
  width: 100%;
  border: black 1px solid;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

main::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

h1{
  font-family: "Super Cottage", serif;
  color: black;
  font-size: 10rem;
  text-transform: uppercase;
}

h2 {
  font-family: "Super Cottage", serif;
  color: #101010;
  font-size: 5rem;
  text-transform: uppercase;
}

h3 {
  font-family: "Super Cottage", serif;
  color: #101010;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 0;
}

h4{
  font-family: "Super Cottage", serif;
}

p{
  font-family: "SuperCottage", serif;
  color: #101010;
  font-size: 14px;
  text-transform: uppercase;
}
footer{
  background-color:lightgray;
  grid-area: footer;
  padding: 2em;
  border: black 1px solid;
}

aside.show {
  display: block;
}